.nameCircle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    padding: 15px;
    background: linear-gradient(40deg, #f05323 0%, #f89b38 100%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
    text-align: center;
    font: 28px Arial, sans-serif;
    user-select: none;
    text-transform: uppercase;
}